<div class="link glassy">
  <i class="thumbnail fa-solid fa-newspaper"></i>
  <a class="link-text" href="posts.html" title="Some of my writings and thoughts">My Blog</a>
</div>

<div class="link glassy">
  <img class="thumbnail" src="https://www.ycombinator.com/assets/ycdc/yc-og-image-0cfa80cac837d64d9b4f0705950000b66906ac032791376bd721f246fafcc7b4.png">
  <a class="link-text" target="_blank" href="http://paulgraham.com/startupideas.html" title="A great blog I enjoy">How to Get Startup Ideas
    —&nbsp;Paul Graham</a>
</div>

<div class="link glassy">
  <img class="thumbnail" src="https://pbs.twimg.com/profile_images/1080202898372362240/akqRGyta_400x400.jpg">
  <a class="link-text" target="_blank" href="https://css-tricks.com/" title="Good site for css tips and tricks">CSS Tricks</a>
</div>

<div class="link glassy">
  <i class="thumbnail fa-regular fa-gem"></i>
  <a class="link-text" target="_blank" href="https://rubyweekly.com/" title="Ruby newsletter">Ruby Weekly</a>
</div>

<div class="link glassy">
  <img class="thumbnail" src="https://d2i2nj5el4wq1j.cloudfront.net/assets/logo-a191a70fa781dc8b50cda97f97d8613b74079a5f7775ee51d78b06f4ee2fa9ac.svg">
  <a class="link-text" target="_blank" href="https://gorails.com/" title="Where I go to learn Ruby stuff. Thanks Chris!">Go Rails</a>
</div>

<div class="link glassy">
  <img class="thumbnail" src="https://www.ruby-lang.org/images/header-ruby-logo@2x.png">
  <a class="link-text" target="_blank" href="https://world.hey.com/dhh/" title="Ruby shifu">DHH Blog</a>
</div>
  
<div class="link glassy">
  <i class="thumbnail fa-solid fa-person-chalkboard"></i>
  <a class="link-text" href="https://heratyian.github.io/software-development-lessons/" title="Some published lessons I use in my course">Software Development Lessons</a>
</div>
