<div class="social-icons">
  <a href="https://github.com/heratyian" target="_blank" title="GitHub">
    <i class="fa-brands fa-github"></i>
  </a>

  <a href="https://www.linkedin.com/in/ianheraty/" target="_blank" title="LinkedIn">
    <i class="fa-brands fa-linkedin"></i>
  </a>

  <a href="https://www.instagram.com/heratyian/" target="_blank" title="Instagram">
    <i class="fa-brands fa-instagram"></i>
  </a>

  <a href="https://twitter.com/heratyian" target="_blank" title="Twitter">
    <i class="fa-brands fa-x-twitter"></i>
  </a>

  <a href="https://github.com/heratyian/resume/blob/main/resume.pdf", target="_blank" title="My résumé">
    <i class="fa-regular fa-file"></i>
  </a>
</div>
