/* TODO: add media-query for mobile */


/* ========== Base Styles ========== */

body {
  margin: auto;
  padding: 2rem;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: fit-content;
  box-sizing: border-box;
  font-family: 'Roboto', Sans-Serif;
}

/* ========== Layout ========== */


/* ========== Components ========== */

.avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.headline {
  text-align: center;
}

.tagline {
  text-align: center;
}

.icon-link {
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  border: 1px solid transparent;
}

.icon-link:hover {
  border-color: var(--color-primary);
  transform: translate(-4px, -4px);
  box-shadow:
    4px 4px var(--color-primary),
    4px 4px var(--color-primary),
    4px 4px var(--color-primary);
  cursor: pointer;
}

.article-link {
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--color-primary);
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--color-text);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.article-link:hover {
  transform: translate(-8px, -8px);
  box-shadow:
    8px 8px var(--color-primary),
    8px 8px var(--color-primary),
    8px 8px var(--color-primary)
}

/* ========== Utilities ========== */

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.no-underline {
  text-decoration-line: none;
}

.focus-ring:focus {
  outline: 3px solid var(--color-emphasis);
}

.list-none {
  list-style-type: none;
}

.pl-0 {
  padding-left: 0;
}

.mt-2 {
  margin-top: 2rem;
}

/* visible to screen readers only */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Global variables in :root */
:root {
  --color-primary:#194341;
  --color-emphasis: #399893;
  --color-text: black;
  --color-muted: gray;
}
