
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- manifest -->
    <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">

    <!-- HTML Meta Tags -->
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">

    {% if page.tags %}
      <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    {% endif %}

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="heratyian.github.io"> <!-- TODO: update for current url? -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ian Heraty">
    <meta property="og:description" content="Ian Heraty's blog">
    {% if page.image %}
      <meta property="og:image" content="{{ page.image | absolute_url }}">
    {% elsif site.image %}
      <meta property="og:image" content="{{ site.image | absolute_url }}">
    {% endif %}

    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:description" content="{{ page.description | default: site.description | escape }}">
    {% if page.image %}
      <meta property="og:image" content="{{ page.image | absolute_url }}">
    {% elsif site.image %}
      <meta property="og:image" content="{{ site.image | absolute_url }}">
    {% endif %}

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="heratyian.github.io"> <!-- TODO: update for current url? -->
    <meta property="twitter:url" content="heratyian.github.io"> <!-- TODO: update for current url? -->
    <meta name="twitter:title" content="{{ page.title | escape }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description | escape }}">
    {% if page.image %}
      <meta name="twitter:image" content="{{ page.image | absolute_url }}">
    {% elsif site.image %}
      <meta name="twitter:image" content="{{ site.image | absolute_url }}">
    {% endif %}

    <!-- favicons -->
    <link rel="icon" type="image/x-icon" href="{{ '/images/favicon.ico' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon-16x16.png' | relative_url }}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro" rel="stylesheet">
    
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- fontawesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body>
    <div class="background--custom isLoaded">

      <a href="/" class="banner">
        <img src="/images/profile.png" alt="Ian Heraty headshot" class="banner-image">
      </a>

      <h1 class="header name">
        {{ page.title }}
      </h1>

      <h5 class="header date">
        {{ page.date | date_to_string }}
      </h5>

      <div class="content">
        {{ content }}
      </div>

      {% include gradient.html %}

    </div>
  </body>
</html>
