
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- manifest -->
    <link rel="manifest" href="manifest.json" />

    <!-- HTML Meta Tags -->
    <title>Ian Heraty</title>
    <meta name="description" content="Ian Heraty's blog">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="heratyian.github.io"> <!-- TODO: update for current url? -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ian Heraty">
    <meta property="og:description" content="Ian Heraty's blog">
    <meta property="og:image" content="https://heratyian.github.io/images/sleepy-cat.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="heratyian.github.io"> <!-- TODO: update for current url? -->
    <meta property="twitter:url" content="heratyian.github.io"> <!-- TODO: update for current url? -->
    <meta name="twitter:title" content="Ian Heraty">
    <meta name="twitter:description" content="Ian Heraty's blog">
    <meta name="twitter:image" content="https://heratyian.github.io/images/sleepy-cat.png">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro" rel="stylesheet">
    
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- fontawesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body>
    <div class="background--custom isLoaded">

      <a href="/" class="banner">
        <img src="/images/profile.png" alt="Ian Heraty headshot" class="banner-image">
      </a>

      <div class="header name">
        {{ page.title }}
      </div>

      <div class="header date">
        {{ page.date | date_to_string }}
      </div>

      <div class="items">
        {{ content }}
      </div>

      {% include gradient.html %}

    </div>
  </body>
</html>
